/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary: #000000;
    --color-gray-200:#EFEFEF;
    --color-gray-400:#C9C9C9;
    --color-gray-600:#C4C4C4;
    --color-gray-800:#8A8A8A;
    --color-bright: #ffffff;
    --font-family: 'Mukta Mahee', sans-serif;
    --font-semibold: 600 32px;
    --font-medium-300: 500 24px var(--font-family);
    --font-medium-200: 500 18px var(--font-family);
    --font-medium-100: 500 16px var(--font-family);
    --font-regular-300: 400 18px var(--font-family);
    --font-regular-200: 400 16px var(--font-family);
    --font-regular-100: 400 14px var(--font-family);
    --border-radius-sm: 8px;
    --border-radius-md: 30px;
    --border-radius-xl: 60px;
    --border-stroke: 1px;
    --border-style: solid;
    --transition-duration: 0.1s;
    --transition-timing: ease-in;
    --transition-property: all;
}
