.--skeleton {
    opacity: 0.75;
    animation: skeleton-loading 1s linear infinite alternate;
}

.--skeleton-text {
    width: 100%;
    min-height: 10px;
    border-radius: var(--border-radius-sm);
    margin-bottom: 5px;
    display: block;
    &:last-child {
        width: 75%;
        margin-bottom: 0;
    }
}

@keyframes skeleton-loading {
    0% {
        background-color: #a3b8c2;
    }
    100% {
        background-color: #f0f3f5;
    }
}