/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/mixins.scss";
@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";
@import "styles/buttons.scss";
@import "styles/skeleton-loader.scss";

body {
  font-family: 'Roboto', sans-serif;
  font-family: var(--font-family);
}


.headline {
  color: var(--color-primary);
  font: var(--font-semibold);
  line-height: var(--headline-line-height);
  &-sub {
    color: var(--color-gray-800);
    font: var(--font-regular-200);
  }
}